<configuration>
	<refFolder>/data/spark/ref</refFolder>
	<toolsFolder>/data/spark/tools</toolsFolder>
	<tmpFolder>/data/username/tmp</tmpFolder>
	<inputFolder>/data/assign3/input8_bas</inputFolder>
	<outputFolder>output</outputFolder> 
	<numInstances>8</numInstances>
	<numThreads>1</numThreads>
</configuration>
